<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script>
    async function init() {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-X6RBTJQFHG');
      // gtag('get', 'G-X6RBTJQFHG', 'client_id', client_id => console.log(client_id))
      const client_id = await (new Promise(resolve => gtag('get', 'G-X6RBTJQFHG', 'client_id', resolve)))
      document.querySelector('pre').innerText = JSON.stringify({'_id': client_id})
    }
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-X6RBTJQFHG" onload="init()"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>interest and recommend</title>
</head>
<body>
  <pre></pre>
</body>
</html>